<!DOCTYPE html>
<html>
  <head>
    <title>Home | Egidio De-Souza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta content="Bilingual Full Stack Developer" name="description">
  <meta content="Full Stack Developer, Egidio De-Souza, Developer" name="keywords">
  <meta name="keywords" content="egidio de-souza"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'mobile', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
     <div id="page-container" >
       <%# <%= render 'shared/navbar' %> 
       <div id="main-content">
          <%# <%= render 'shared/banner' %> 
          <%= yield %>
          <%# <%= render 'shared/cards' %> 
          <%# <%= render 'shared/contact' %> 
          <%# <%= render 'shared/footer'%> 
       </div>   
    </div> 
  </body>
</html>
